body {
  margin: 0 14%;
}

img {
  width: 100%;
}

p {
  margin: 0;
  font-size: 15px;
  text-align: justify;
}

header {
  display: flex;
  justify-content: center;
}

.image-container {
  width: 70%;
}

.subcabecera p {
  margin-top: 0;
}

hr {
  border: 1px solid black;
  background-color: red;
}

main {
  display: grid;
  grid-template: 1fr / repeat(8, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.columna-izquierda {
  grid-column: 1 / 3;
}

.columna-izquierda .parte-superior {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.columna-izquierda .parte-superior h2{
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Amiri', serif;;
  line-height: 28px;
  font-size: 32px;
}

.columna-izquierda .parte-superior hr{
  width: 50%;
  border: 1px solid black;
}

.columna-izquierda .parte-superior h3{
  margin: 5px 0;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Amiri', serif;
  line-height: 20px;
  font-size: 22px;
  height: 15px;
}

.columna-izquierda .parte-superior p{
  text-align: center;
  font-size: 22px;
  line-height: 21px;
  margin: 0;
  font-family: 'Amiri', serif;
}

.columna-izquierda .parte-superior span{
  text-transform: uppercase;
  font-size: 15px;
}

.columna-derecha {
  grid-column: 3 / 16;
  display: grid;
  grid-template-columns: 1fr;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-left: 8px;
  padding: 0 8px;
}

.obama-notice {
  border-bottom: 2px solid black;
}

.obama-notice h2 {
  font-size: 15px;
  margin: 3px 0;
}

.obama-notice p {
  margin: 7px 0;
}

.central-article {
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

.central-article h2{
  font-size: 22px;
  margin: 10px 0 5px 0;
  font-style: italic;
}

.central-article > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.central-article > div > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.central-article > div > div > h4{
  border-top: 2px solid black;
  padding-top: 7px;
  margin: 0 0 7px 0;
  font-weight: 400;
}

.central-article p{
  margin: 0 5px;
}

.columna-derecha article:nth-of-type(3) {
  background-color: blue;
}

.ultima-seccion {
  display: grid;
  grid-template: 1 / repeat(3, 1fr);
}

.ultima-seccion .texto{
  grid-column: 1;
}

.capital {
  width: 60px;
  height: 60px;
  float: left;
  background-color: blueviolet;
}

.ultima-seccion figure{
  grid-column: 2 / 6;
}